# Client-side Supabase configuration
VITE_SUPABASE_PROJECT_ID=krezuqsnzqhljmbfhnta
VITE_SUPABASE_URL=https://krezuqsnzqhljmbfhnta.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=

# Server-side Supabase configuration
SUPABASE_PROJECT_ID=krezuqsnzqhljmbfhnta
SUPABASE_URL=https://krezuqsnzqhljmbfhnta.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
